<body>
		<header>
			{{> managernav }}
		</header>

		<main>			
			<div class="row">
				<div class="col s12 l12">					
					{{!-- <table class="striped responsive-table"> --}}
					<table class="bordered">	
						{{#if prospectsData}}						
							<thead class="blue lighten-2">
							  <th>First Name</th>
							  <th>Last Name</th>
							  <th>Email</th>
							  <th>Telephone</th>
							  <th>Bedrooms</th>
							  <th>Move In Date</th>
							  <th class="message">Message</th>
							  <th>Created At</th>
							  <th>Updated Ad</th>
							  <th></th>
							</thead>
						  {{#each prospectsData}}						  	
							<tbody>
						    <tr>
						      <td><a class="btn-floating btn-medium waves-effect waves-light red darken-4" href="http://localhost:8080/manager/prospects/delete/{{id}}"><i class="material-icons">delete</i></a></td> 
						      <td><strong>{{first_name}}</strong></td>
						      <td><strong>{{last_name}}</strong></td>
						      <td>{{email}}</td>
						      <td class="telephone-number">{{telephone}}</td>
						      <td>{{bedrooms}}</td>
						      <td>{{move_in_date}}</td>
						      <td>{{message}}</td>
						      <td>{{createdAt}}</td>
						      <td>{{updatedAt}}</td>						       
						    </tr>
						  {{/each}}						  
						{{/if}}
						{{#if contractorsData}}
							<thead class="blue lighten-2">
								<th>Business Name</th>
								<th>Doing Business As</th>
								<th>Street Address</th>
								<th>City</th>
								<th>Zip Code</th>
								<th>NAICS Code</th>
								<th>Description</th>
								<th>Created At</th>
								<th>Updated At</th>
								<th></th>
							</thead>
						  {{#each contractorsData}}
						  	<tbody>
						  	<tr>
							  	<td><a class="btn-floating btn-medium waves-effect waves-light red darken-4" href="http://localhost:8080/manager/contractors/delete/{{id}}"><i class="material-icons">delete</i></a></td>
								<td>{{business_name}}</td>
								<td>{{doing_business_as_name}}</td>
								<td>{{street_address}}</td>
								<td>{{city}}</td>
								<td>{{zip_code}}</td>
								<td>{{naics}}</td>
								<td>{{primary_naics_description}}</td>
								<td>{{createdAt}}</td>
								<td>{{updatedAt}}</td>							
							</tr>
						   {{/each}}
						{{/if}}
						{{#if tenantsData}}
							<thead class="blue lighten-2">
								<th>Name</th>
								<th>Email</th>
								<th>Street Address</th>
								<th>Apt#</th>
								<th>City</th>
								<th>State</th>
								<th>Zip Code</th>
								<th>Rent</th>
								<th>Rent Last Paid</th>
								<th>Total Last Paid</th>
								<th>Lease Start</th>
								<th>Lease End</th>
								<th>Parking Permit</th>
								<th>Permit #</th>
								<th>Permit Status</th>
								<th></th>
								<th></th>
							</thead>
						  {{#each tenantsData}}
						  	<tbody>
						  	<tr>
						  		<td><a class="btn-floating btn-medium waves-effect waves-light red darken-4" href="http://localhost:8080/manager/tenants/delete/{{id}}"><i class="material-icons">delete</i></a></td>
								<td><strong>{{name}}</strong></td>
								<td>{{email}}</td>
								<td>{{street_address}}</td>
								<td>{{apartment_number}}</td>
								<td>{{city}}</td>
								<td>{{state}}</td>
								<td>{{zip_code}}</td>
								<td>{{no_of_occupants}}</td>
								<td>{{rent}}</td>
								<td>{{rent_last_paid}}</td>
								<td>{{total_rent_paid}}</td>
								<td>{{lease_start}}</td>
								<td>{{lease_end}}</td>
								<td>{{parking_permit}}</td>
								<td>{{parking_permit_no}}</td>
								<td>{{parking_permit_status}}</td>								
							</tr>
						   {{/each}}
						{{/if}}
						{{#if applicantsData}}
							<thead class="blue lighten-2">
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Birthdate</th>
								<th>DL#</th>
								<th>DL State</th>
								<th># occ.</th>
								<th>Current St.</th>
								<th>Current City</th>
								<th>Current State</th>
								<th>Current Zip</th>
								<th>Heard about</th>
								<th>Prev. Landlord</th>
								<th>Landlord phone</th>
								<th>Prev. Rent</th>
								<th>From Date</th>
								<th>Prev. Street</th>
								<th>Prev. State</th>
								<th>Reason Left</th>
								<th>Employer</th>
								<th>City</th>
								<th>State</th>
								<th>Phone</th>
								<th>From Date</th>
								<th>To Date</th>
								<th>Gross Salary</th>
								<th>Ref Name</th>
								<th>Ref Phone</th>
								<th>Desired Move-in</th>
								<th>Vehicle</th>
								<th></th>
							</thead>
						  {{#each applicantsData}}
						  	<tbody>
						  	<tr>
						  		<td><a class="btn-floating btn-medium waves-effect waves-light blue darken-4"><i class="material-icons">mode_edit</i></a></td>
								<td>{{name}}</td>
								<td>{{email}}</td>
								<td>{{phone}}</td>
								<td>{{birth_date}}</td>
								<td>{{dl_num}}</td>
								<td>{{dl_state}}</td>
								<td>{{num_occupants}}</td>
								<td>{{current_street}}</td>
								<td>{{current_city}}</td>
								<td>{{current_state}}</td>
								<td>{{current_zip}}</td>
								<td>{{hear_about}}</td>
								<td>{{prev_landlord}}</td>
								<td>{{prev_landlord_phone}}</td>
								<td>{{prev_rent}}</td>
								<td>{{from_date}}</td>
								<td>{{prev_street}}</td>
								<td>{{prev_state}}</td>
								<td>{{reason_left}}</td>
								<td>{{employer1}}</td>
								<td>{{employer_city}}</td>
								<td>{{employer_state}}</td>
								<td>{{employer_phone}}</td>
								<td>{{emp_from_date}}</td>
								<td>{{emp_to_date}}</td>
								<td>{{gross_salary}}</td>
								<td>{{position_held}}</td>
								<td>{{ref_name}}</td>
								<td>{{ref_phone}}</td>
								<td>{{desired_move_in}}</td>
								<td>{{vehicle}}</td>								
							</tr>
						   {{/each}}
						{{/if}}
						{{#if workordersData}}
							<thead class="blue lighten-2">
								<th>Request</th>
								<th>Apt #</th>
								<th>Submitted</th>
								<th>Last Activity</th>
								<th>Permission to Enter</th>
								<th>Status</th>
								<th>Paid</th>
								<th>Completed</th>
								<th>Date Complete</th>
								<th>Created At</th>
								<th>Updated At</th>
								<th>Contractor Id</th>
								<th>Tenant Id</th>
								<th></th>
								<th></th>
							</thead>
							{{#each workordersData}}
							<tbody>
								<tr>
									<td><a class="btn-floating btn-medium waves-effect waves-light blue darken-4"><i class="material-icons">mode_edit</i></a></td>
									<td><a class="btn-floating btn-medium waves-effect waves-light red darken-4" href="http://localhost:8080/manager/workorders/delete/{{id}}"><i class="material-icons">delete</i></a></td>
									<td>{{request}}</td>
									<td>{{apartment_number}}</td>
									<td>{{submitted}}</td>
									<td>{{last_activity}}</td>
									<td>{{permission_to_enter}}</td>
									<td>{{status}}</td>
									<td>{{paid}}</td>
									<td>{{completed}}</td>
									<td>{{date_completed}}</td>
									<td>{{createdAt}}</td>
									<td>{{updatedAt}}</td>
									<td>{{contractorId}}</td>
									<td>{{tenantId}}</td>
									
								</tr>										  										  
							</tbody>
							{{/each}}
						{{/if}}
					</table>
				</div>
			</div>
		</main>

		</main>
		
		{{!-- Footer Partial --}}
		{{> footer }}

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>      	
	</body>