<body>
		<header>
		<div class="navbar-fixed">
			<nav class="grey darken-3">
				<div class="nav-wrapper container">
					<a href="#!" class="brand-logo">Logo</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a id="prospects_button" href="prospects">Prospects</a></li>
						<li><a href="applicants_button" href="applicants">Applicants</a></li>
						<li><a href="tenants_button" href="tenants">Tenants</a></li> 
						<li><a href="workorders_button" href="workorders">Work Orders</a></li>
						<li><a id="contractors_button" href="contractors">Contractors</a></li>						
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a id="prospects_button" href="prospects">Prospects</a></li>
						<li><a href="applicants_button" href="applicants">Applicants</a></li>
						<li><a href="tenants_button" href="tenants">Tenants</a></li> 
						<li><a href="workorders_button" href="workorders">Work Orders</a></li>
						<li><a id="contractors_button" href="contractors">Contractors</a></li>	
					</ul>
				</div>
			</nav>
		</div>
		</header>

		<main>			
			<div class="row">
				<div class="col s12 l12">				
					<table class="striped responsive-table">
						
						{{#if prospectsData}}
							<thead class="orange lighten-3">
							  <th>First Name</th>
							  <th>Last Name</th>
							  <th>Email</th>
							  <th>Telephone</th>
							  <th>Bedrooms</th>
							  <th>Move In Date</th>
							  <th class="message">Message</th>
							  <th>Created At</th>
							  <th>Updated Ad</th>
							  <th></th>
							</thead>
						  {{#each prospectsData}}						  	
							<tbody>
						    <tr>
						      <td>{{first_name}}</td>
						      <td>{{last_name}}</td>
						      <td>{{email}}</td>
						      <td>{{telephone}}</td>
						      <td>{{bedrooms}}</td>
						      <td>{{move_in_date}}</td>
						      <td>{{message}}</td>
						      <td>{{createdAt}}</td>
						      <td>{{updatedAt}}</td>
						      <td><button>Delete</button></td>			      
						    </tr>
						  {{/each}}
						{{/if}}
						{{#if contractorsData}}
							<thead class="orange lighten-3">
								<th>Business Name</th>
								<th>Doing Business As</th>
								<th>Street Address</th>
								<th>City</th>
								<th>Zip Code</th>
								<th>NAICS Code</th>
								<th>Description</th>
								<th>Created At</th>
								<th>Updated At</th>
							</thead>
						  {{#each contractorsData}}
						  	<tbody>
						  	<tr>
							<td>{{business_name}}</td>
							<td>{{doing_business_as_name}}</td>
							<td>{{street_address}}</td>
							<td>{{city}}</td>
							<td>{{zip_code}}</td>
							<td>{{naics}}</td>
							<td>{{primary_naics_description}}</td>
							<td>{{createdAt}}</td>
							<td>{{updatedAt}}</td>
							</tr>
						   {{/each}}
						{{/if}}						  
						</tbody>
					</table>
				</div>
			</div>
		</main>

		</main>
		
		{{!-- Footer Partial --}}
		{{> footer }}

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>      	
	</body>